<div>
    <a href="{% url 'contact' letter='A' %}" class="letter">A</a>
    <a href="{% url 'contact' letter='B' %}" class="letter">B</a>
    <a href="{% url 'contact' letter='C' %}" class="letter">C</a>
    <a href="{% url 'contact' letter='D' %}" class="letter">D</a>
    <a href="{% url 'contact' letter='E' %}" class="letter">E</a>
    <a href="{% url 'contact' letter='F' %}" class="letter">F</a>
    <a href="{% url 'contact' letter='G' %}" class="letter">G</a>
    <a href="{% url 'contact' letter='H' %}" class="letter">H</a>
    <a href="{% url 'contact' letter='I' %}" class="letter">I</a>
    <a href="{% url 'contact' letter='J' %}" class="letter">J</a>
    <a href="{% url 'contact' letter='K' %}" class="letter">K</a>
    <a href="{% url 'contact' letter='l' %}" class="letter">L</a>
    <a href="{% url 'contact' letter='N' %}" class="letter">N</a>
    <a href="{% url 'contact' letter='M' %}" class="letter">M</a>
    <a href="{% url 'contact' letter='O' %}" class="letter">O</a>
    <a href="{% url 'contact' letter='P' %}" class="letter">P</a>
    <a href="{% url 'contact' letter='Q' %}" class="letter">Q</a>
    <a href="{% url 'contact' letter='R' %}" class="letter">R</a>
    <a href="{% url 'contact' letter='S' %}" class="letter">S</a>
    <a href="{% url 'contact' letter='T' %}" class="letter">T</a>
    <a href="{% url 'contact' letter='U' %}" class="letter">U</a>
    <a href="{% url 'contact' letter='V' %}" class="letter">V</a>
    <a href="{% url 'contact' letter='W' %}" class="letter">W</a>
    <a href="{% url 'contact' letter='X' %}" class="letter">X</a>
    <a href="{% url 'contact' letter='Y' %}" class="letter">Y</a>
    <a href="{% url 'contact' letter='Z' %}" class="letter">Z</a>
</div>
