{% extends '../layout/base.html' %}

{% block "title" %}Create to do{% endblock "title" %}

{% block "styles" %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

{% endblock "styles" %}


{% block "content" %}

    <h1 class="page-title">Create to do</h1>

    <span class="aux-btns-form"><a href="{% url 'todo' %}" class="btn btn-detail">return</a></span>

    <form action="{% url 'todo_create' %}" method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <div class="btn-wrapper">
            <input type="submit" value="submir" class="btn-send"/>
        </div>
    </form>
{% endblock "content" %}
