{% extends '../layout/base.html' %}

{% block "title" %}To do {{todo.id}}{% endblock "title" %}

{% block "content" %}

<h1 class="page-title">To do {{todo.id}}</h1>

<span class="aux-btns"><a href="{% url 'todo' %}" class="btn btn-detail">return</a></span>

<ul class="list">
    <li><b>Title: </b>{{todo.title}}</li>
    <li><b>Description: </b>{{todo.description}}</li>
    <li><b>Initial date: </b>{{todo.date}}</li>
    <li><b>End date: </b>{{todo.estimated_end}}</li>
    <li><b>Priority: </b>{{todo.priority}}</li>
</ul>
{% endblock "content" %}
